{erl_opts, [debug_info,
			warn_export_all,
			warn_export_vars,
			warn_shadow_vars,
			warn_obsolete_guard,
			warn_unused_import]}.

{minimum_otp_vsn, "21.0"}.

{plugins,	[
		rebar3_hex,
		rebar_alias
	]
}.

{alias, [{check, [compile, xref, dialyzer, eunit]}]}.

{cover_enabled, true}.

{cover_excl_mods, [
	apxr_erl_tar,
	apxr_filename,
	apxr_tarball,
	safe_erl_term,
	flatland_actuator,
	flatland_sensor,
	flatland_utils,
	flatland,
	predator,
	prey,
	fx_actuator,
	fx_morphology,
	fx_sensor,
	fx,
	dpb_actuator,
	dpb_sensor,
	dpb_w_damping,
	dpb_wo_damping,
	dpb,
	dtm_actuator,
	dtm_morphology,
	dtm_sensor,
	dtm,
	flatlog,
	agent_mgr_sup,
	experiment_mgr_sup,
	private_scape_sup,
	population_mgr_sup,
	scape_sup,
	scape_mgr_sup,
	apxr_run_sup,
	polis_sup,
	sector_sup,
	agent_sup,
	apxr_run_app
]}.

{deps, [
	% A streaming, evented json parsing toolkit - MIT
	{jsx, "2.10.0"},
	% A mocking framework for Erlang - Apache 2.0
	{meck, "0.8.13"},
	% Visualize Erlang Nodes On The CLI - MIT
	{observer_cli, "1.4.1"},
	% Diagnostic tools for production use - BSD
	{recon, "2.4.0"},
	% Erlang Rocksdb binding - Apache 2.0
	{rocksdb, "1.0.0"},
	% Transparent and out-of-box Sharding support for Erlang ETS tables - MIT
	{shards, "0.6.0"}
]}.

{relx, [{
		release, {apxr_run, "0.1.0"}, [apxr_run, sasl]},
		{sys_config, "config/sys.config"},
		{vm_args, "config/vm.args"},
		{dev_mode, true},
		{include_erts, false},
		{extended_start_script, true}]
}.

{profiles, [
	{prod, [{relx, [
						{release, {apxr_run, "0.1.0"}, [apxr_run, sasl]},
						{vm_args, "config/vm.args"},
						{sys_config, "config/sys.config"},
						{dev_mode, false},
						{include_src, false}, % don't include source code
						{include_erts, true},
						{extended_start_script, true},
						{overlay, [
							{mkdir, "experiments"},
							{mkdir, "tmp/erocksdb"},
							{mkdir, "tmp/erocksdb_backups"}]}]}]
	},
	{test, []}
  ]
}.
