[
  {apxr_run, [
    {identifier, test},
    {build_tool, erlang},
    {public_scape, []},
    {runs, 50},
    {min_pimprovement, 0.0},
    {search_params_mut_prob, 0.5},
    {output_sat_limit, 1},
    {ro_signal, [0.0]},
    {fitness_stagnation, false},
    {population_mgr_efficiency, 1},
    {interactive_selection, false},
    {re_entry_probability, 0.0},
    {shof_ratio, 1},
    {selection_algorithm_efficiency, 1},
    {pmp, #{data => #{ op_modes => [gt, validation],
             population_id => dpb_benchmark_test,
             polis_id => mathema,
             survival_percentage => 0.5,
             init_specie_size => 10,
             specie_size_limit => 10,
             generation_limit => 100,
             evaluations_limit => 10000,
             fitness_goal => 9000
           }}
    },

    {constraints, [
                    #{data => #{ morphology => dpb_wo_damping,
                       connection_architecture => feedforward,
                       agent_encoding_types => [neural],
                       substrate_plasticities => [none],
                       substrate_linkforms => [l2l_feedforward],
                       neural_afs => [tanh],
                       neural_pfns => [ojas],
                       neural_aggr_fs => [dot_product],
                       tuning_selection_fs => [dynamic_random],
                       tuning_duration_f => {wsize_proportional, 0.5},
                       annealing_parameters => [0.5],
                       perturbation_ranges => [1],
                       heredity_types => [darwinian],
                       mutation_operators => [
                                {mutate_weights,1},
                                {add_bias,1},
                                {remove_bias,1},
                                {mutate_af,1},
                                {add_outlink,4},
                                {add_inlink,4},
                                {add_neuron,4},
                                {outsplice,4},
                                {add_sensor,1},
                                {add_actuator,1},
                                {add_sensorlink,1},
                                {add_actuatorlink,1},
                                {mutate_plasticity_parameters,4},
                                {add_cpp,1},
                                {add_cep,1}
                       ],
                       tot_topological_mutations_fs => [{ncount_exponential, 0.5}],
                       population_evo_alg_f => generational,
                       population_selection_f => hof_competition,
                       specie_distinguishers => [tot_n],
                       hof_distinguishers => [tot_n]
                    }
    }]}
  ]}

].
