[
  {apxr_run, [
    {identifier, test},
    {build_tool, erlang},
    {public_scape, []},
    {runs, 10},
    {min_pimprovement, 0.0},
    {search_params_mut_prob, 0.5},
    {output_sat_limit, 1},
    {ro_signal, [0.0]},
    {fitness_stagnation, true},
    {population_mgr_efficiency, 1},
    {re_entry_probability, 0.0},
    {shof_ratio, 1},
    {selection_algorithm_efficiency, 1},
    {pmp, #{data => #{ op_modes => [gt, validation],
             population_id => fx_application_test,
             polis_id => mathema,
             survival_percentage => 0.5,
             init_specie_size => 10,
             specie_size_limit => 10,
             generation_limit => 100,
             evaluations_limit => 25000,
             fitness_goal => inf
           }}
    },

    {constraints, [
                    #{data => #{ morphology => fx_morphology,
                       connection_architecture => recurrent,
                       agent_encoding_types => [neural, substrate],
                       substrate_plasticities => [none, iterative, abcn],
                       substrate_linkforms => [l2l_feedforward, jordan_recurrent, fully_connected, fully_interconnected, neuronself_recurrent],
                       neural_afs => [tanh, relu, cos, gaussian, absolute, sin, sqrt, sigmoid],
                       neural_pfns => [none, hebbian_w, hebbian, ojas_w, ojas, self_modulation_v1, self_modulation_v2, self_modulation_v2, self_modulation_v3, self_modulation_v4, self_modulation_v5, self_modulation_v6, neuromodulation],
                       neural_aggr_fs => [dot_product, diff_product, mult_product],
                       tuning_selection_fs => [all, all_random, dynamic, dynamic_random, active, active_random, current, current_random],
                       tuning_duration_f => {wsize_proportional, 0.5},
                       annealing_parameters => [0.5],
                       perturbation_ranges => [1],
                       heredity_types => [darwinian, lamarckian],
                       mutation_operators => [
                                {mutate_weights,1},
                                {add_bias,1},
                                {remove_bias,1},
                                {mutate_af,1},
                                {add_outlink,4},
                                {add_inlink,4},
                                {add_neuron,4},
                                {outsplice,4},
                                {add_sensor,1},
                                {add_actuator,1},
                                {mutate_plasticity_parameters,4},
                                {add_cpp,4},
                                {add_cep,4}
                       ],
                       tot_topological_mutations_fs => [{ncount_exponential, 0.5}, {ncount_linear, 0.5}],
                       population_evo_alg_f => generational,
                       population_selection_f => hof_competition,
                       specie_distinguishers => [tot_n],
                       hof_distinguishers => [tot_n]
                    }
    }]}
  ]}

].
